# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# Large files
*.zip
*.rar
*.tar.gz
*.7z
AI-CP-Coach.zip

# Machine Learning models & weights
fine_tuning/
*.safetensors
*.bin
*.h5
*.pt
*.pth
*.pkl

# OS files
.DS_Store
Thumbs.db
